style.css
---------
body {
    font-family: Arial, sans-serif;
    width: 100%;
}

.tabs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab {
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
}

.tab:hover {
    background-color: #e0e0e0;
}

.tab-content {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
}

.tab-content.active {
    display: block;
}

textarea {
    height: 500px;
    width: 400px;
}
