/* outputs/style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.editor-container {
    width: 50%;
    height: 100vh;
    padding: 10px;
    overflow-y: auto; /* Make the editor container scrollable */
    box-sizing: border-box;
    background-color: #ffffff;
}

.preview-container {
    width: 50%;
    height: 100vh;
    padding: 10px;
    overflow-y: auto; /* Make the preview container scrollable */
    box-sizing: border-box;
    background-color: #ececec;
}

#html-input {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    resize: none;
    outline: none;
}

#preview {
    border: 1px solid #000000;
}
